<div class="home-image">
  <h1 class="home-title">Mongo Scraper</h1>
  <h2 class="home-subtitle">New York Times Science Edition</h2>
</div>
<!--Articles-->
<div class="articles row">

  {{#each articles}}
  <div class="card bg-dark text-white col-md-6">
    <img src={{this.image}} class="card-img" alt="article image">
    <div class="card-img-overlay">
      <a href={{this.link}} target="_blank">
        <h1 class="card-title">{{this.title}}</h1>
      </a>
      <p class="card-text">{{this.summary}}</p>
      <button class="btn save" data-image={{this.image}} data-title={{this.title}} data-link={{this.link}}
        data-summary={{this.summary}} data-id={{this._id}}>Save Article</button>

      <!--Modal-->
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary comments" data-id={{this._id}} data-toggle="modal"
        data-target="#{{this._id}}">
        Comment
      </button>

      <!-- Modal -->
      <div class="modal fade" id={{this._id}} tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Comments</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{#each this.comments}}
              <p>{{this.body}}</p>
              <p>{{this.created}}
                <button class="btn deleteComment" data-id={{this._id}}>X</button>
              </p>
              {{/each}}
              {{!-- <form action="/api/{{this._id}}/comments" method="POST" class="commentsForm"> --}}
              <form class="commentsForm" data-id={{this._id}}>
                <textarea name="body" id="comment-{{this._id}}" placeholder="Make a comment..."></textarea>
                <button type="submit" class="btn btn-primary submit" data-id={{this._id}}>Submit Comment</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>