<div class="articles row">
  
  {{#each saved}}
  <div class="card bg-dark text-white col-md-6">
    <img src={{this.image}} class="card-img" alt="article image">
    <div class="card-img-overlay">
      <a href={{this.link}} target="_blank">
        <h1 class="card-title">{{this.title}}</h1>
      </a>
      <p class="card-text">{{this.summary}}</p>
      <button 
        class="btn delete-one" 
        data-image={{this.image}}
        data-title={{this.title}} 
        data-link={{this.link}}
        data-summary={{this.summary}}
        data-id={{this._id}}
        >Delete Article</button>
    </div>
  </div>
  {{/each}}
</div>